/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.baskerville
{
  font-family: 'Baskerville Old Face', Baskerville, 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.baskerville-big
{
  font-size: 64px;
}

#home
{
	padding: 200px 0;
}
