<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Athina Lugez - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Athina Lugez Official Photography Website">
        <meta name="keywords" content="Athina, Lugez, Photography, Photographer">
        <meta name="author" content="Athina Lugez">

        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% include analytics.html %}

    </head>
    <body>

    <div class="navbar navbar-default navbar-fixed-top baskerville visible-xs" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span class="title">Athina Lugez</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="btn btn-link no-link"><small>Home</small></a></li>
                    <li><a href="/editorial" class="btn btn-link no-link"><small>Editorial</small></a></li>
                    <li><a href="/commercial" class="btn btn-link no-link"><small>Commercial</small></a></li>
                    <li><a href="/street" class="btn btn-link no-link"><small>Street</small></a></li>
                    <li><a href="/blog" class="btn btn-link no-link"><small>Blog</small></a></li>
                    <li><a href="/contact" class="btn btn-link no-link"><small>Contact</small></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <div class="baskerville text-center" data-spy="affix" data-offset-top="0">
                        <h2><a href="/" class="title">Athina Lugez<br>Photography</a></h2>
                        <hr>
                        <ul class="nav">
                            <li><h4><a href="/" class="no-link">Home</a></h4></li>
                            <li><h4><a href="/editorial" class="no-link">Editorial</a></h4></li>
                            <li><h4><a href="/commercial" class="no-link">Commercial</a></h4></li>
                            <li><h4><a href="/street" class="no-link">Street</a></h4></li>
                            <li><h4><a href="/blog" class="no-link">Blog</a></h4></li>
                            <li><h4><a href="/contact" class="no-link">Contact</a></h4></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="footer">
            <p class="baskerville text-right"><small>Athina Lugez &copy; 2017</small></p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- ImagesLoaded JS -->
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <!-- Masonry JS -->
    <script src="/js/masonry.pkgd.min.js"></script>

    <script>

        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true
        });

        $grid.imagesLoaded().progress(function(){
            $grid.masonry('layout');
        });

        $('img').bind('contextmenu', function(e) {
            return false;
        });

        $('img').on('dragstart', function(e) {
            e.preventDefault();
        });

    </script>

    </body>
</html>
