---
layout: default
---

<div id="{{ page.pagename }}">

	<div class="grid">

        <!-- Placeholder -->
		<div class="grid-sizer col-sm-1"></div>

        {% for image in site.data.images[page.pagename] %}
		<div class="grid-item col-sm-{{ image.size }}">
            <div class="grid-item-content">
                <img src="{{ site.s3url }}/img/{{ page.pagename }}/{{ image.name }}.jpg" class="img-responsive center-block">
            </div>
        </div>
        {% endfor %}
	</div>

</div>
